#TEMPS
App_site/__pycache__/

#Ambiente virtual
.venv/

#Banco de dados e arquivo do SQLite
database/
instance/

#Criar usuário para teste
App_site/criar_usuario.py

#Dados Sensiveis
/config_privado.py

#Outros
/Processo
/pacotes_offline
/dados_qr/etiqueta_1.prn